.login-drawer-container {
    display: grid;
    gap: 10px;

    .login-drawer-div {
        display: flex;
        justify-content: space-between;
        padding-top: 15px;
        padding-bottom: 15px;
    }


}

.input-signin {
    padding-bottom: 20px;
}

.header-container {
    background-color: #fa8072;
    display: flex;
    height: 89px;
    align-items: center;
    justify-content: space-between;
    color: black;

    .header-left {
        display: flex;
        align-items: center;
        padding-left: 50px;
        gap: 30px;
        text-transform: uppercase;
        font-weight: 400;

        .navlink-header {
            color: black;
            text-decoration: none;
            text-align: center;
            font-family: 'Times New Roman';
            font-size: 16px;
            border-bottom: 0;
        }

        .ant-space-item {
            color: black;
        }

        ul {
            justify-content: start;
        }

    }

    .header-mid {
        position: absolute;
        left: calc((100vw - 89px)/2);
    }

    .menu {
        background: none;
        display: flex;
        justify-content: start;
        border-bottom: 0;
        font-family: 'Times New Roman';
        font-size: 16px;
        text-align: center;
        padding: 0;
    }

    li {
        padding: 0;
    }

    .header-right {
        display: flex;
        align-items: center;
        text-align: center;
        padding-right: 20px;
        gap: 30px;

        .ant-dropdown-trigger {
            color: black;
        }
    }



    img {
        width: 89px;
        height: 89px;
    }


}